body {
    background:honeydew;
    text-align: center;
  } 

  h1 {
    color:darkcyan;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #main img {
    margin-left: auto;
    margin-right: auto;
    align-self: start;
  }

   nav {
    display: inline;
    color: darkcyan;
    background-color: darkcyan;
    opacity: 80%;
    text-align: center;
    text-emphasis-color: black;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  
  body {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
  }

  section#about div{
    background-color: darkcyan;
    float: left;
    width: 50%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    font-size: large;
    }

  section#contact div {
    background-color: darkcyan;
    float: left;
    width: 50%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    font-size: large;
  }

  article {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #a article {
    color: darkcyan;
  }

  section#About div {
    text-align: center;
    background-color: darkcyan;
    margin: auto;
    max-width: 800px;
  }

  section#Phone div {
    text-align: center;
    color: lightblue;
    
  }

  section#Email div {
   text-align: center;
   color: lightblue;
   
  }
  
  section#phoneicon img {
    align: left;
  }
 
  section#emailicon img {
    align: right;
  }

 h2{
   color:lightslategray;
 }

  section#aboutphotos div {
    display: inline;
    padding: 30px;
  }

  